<h1>Welcome!</h1>
<p>This is our 'Rock, paper, scissors' game. You need two players. Player 1 should go first and make sure that Player 2 doesn't see their choice!</p>
<p></p>
<p><a href="/player1">Play</a></p>
