<h1>Welcome!</h1>
<p>This is our 'Rock, paper, scissors' game.</p>
<p></p>
<p>How to play:</p>
<p></p>
<p>Player 1 should enter 'player1' and their choice in the title bar after the host details - for example localhost:4567/player1/rock/ - and then press enter. Then Player 2 should enter 'player2' and their choice - for example localhost:4567/player2/paper - and then press enter.</p>
