<h1>Welcome!</h1>
<p>This is our 'Rock, paper, scissors' game. To play, enter 'play' and your options in the title bar after the host details - for example localhost:4567/play/rock/paper - and then press enter.</p>
