<h1>Player 1</h1>
<p>Don't let Player 2 see your choice!</p>
<p></p>
<p>Enter / and then your choice in the title bar after 'player1' - for example localhost:4567/player1/rock - and <b>then press enter</b>.</p>
<p></p>
<p>When you've finished, <a href="/player2">hand over to Player 2</a>.</p>
